:root {
  --top-padding: 44px;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.borderCard {
  padding: 48px;
  position: relative;
  border: 1px solid black;
  border-top: black 1px solid;
  margin-top: var(--top-padding);
  width: 400px;
}

.cardTitlesContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.cardTitles {
  background-color: white;
  padding: 0 8px;
}

.leftSideWhite {
  position: absolute;
  left: -2px;
  width: 3px;
  height: 50%;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.rightSideWhite {
  position: absolute;
  right: -2px;
  width: 3px;
  height: 50%;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.bottomSideWhite {
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: white;
  bottom: -2px;
  right: 50%;
  transform: translatex(50%);
}
